{% extends 'layouts/main.html' %}
{% block style %}
  <style>
    .error{
      color: #f00;
    }
  </style>
{% endblock %}
{% block title %}Авторизация{% endblock %}
{% block container %}
<section class="auth">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-12">
    
        <div class="tab" role="tabpanel">
        <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#Section1" class="active" aria-controls="home" role="tab" data-toggle="tab">Войти</a></li>
            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Зарегистрироваться</a></li>
          </ul>
        <!-- Tab panes -->
        <div class="tab-content tabs">
        <div role="tabpanel" class="tab-pane fade in active" id="Section1">
          <form class="form-horizontal" method="post" action="auth/login">
            <div class="form-group">
              <label for="exampleInputEmail1">username</label>
              <input type="text" name="username" required class="form-control" id="exampleInputEmail1">
            </div>
          <div class="form-group">
          <label for="exampleInputPassword1">Пароль</label>
          <input type="password" name="password" required class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group">
          </div>
          <div class="form-group">
          <button type="submit" class="btn btn-default">Войти</button>
          </div>
          <div class="form-group forgot-pass">
          <a href="auth/forgot_pass" class="btn btn-default">Забыли пароль</a>
          </div>
          </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Section2">
        <form class="form-horizontal" method="post" action="auth/registration">
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" required name="username" id="exampleInputEmail1">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email адрес</label>
            <input type="email" class="form-control" required name="email" id="exampleInputEmail1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Пароль</label>
            <input type="password" class="form-control" required name="password" id="exampleInputPassword1">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Зарегистрироваться</button>
          </div>
        </form>
        </div>
        {% for error in errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
        </div>
      </div>
    </div><!-- /.col-md-offset-3 col-md-6 -->
  </div><!-- /.row -->
  </div><!-- /.container -->
</section>
{% endblock %}