{% extends "layouts/main.html" %}
{% block style %}
  <style>

      h1{
        margin-top: 50px;
        text-align: center;
        color: rgb(158, 170, 180);
      }
  </style>
{% endblock %}
{% block title %}Ответ{% endblock %}
{% block container %}
<section class="auth">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
          <h1>{{ message }}</h1>
        </div>
      </div>
    </div><!-- /.col-md-offset-3 col-md-6 -->
  </div><!-- /.row -->
  </div><!-- /.container -->
</section>
{% endblock %}